* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  /* background-color: yellow; */
}

.container {
  /* width: 900px; */
  margin: auto;
  max-width: 90vw;
  transition: 0.5s;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 15px 80px;
  cursor: pointer;
}

.shoppingBasket {
  position: relative;
}

.shoppingBasket .quantity {
  background-color: red;
  padding: 3px 8px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: -15px;
  left: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 25px;
  margin: 10px 30px;
  padding: 0 55px;
  /* border: 1px solid black; */
}

.products .item {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  letter-spacing: 1px;
  box-shadow: 0px 0px 20px #757676;
  cursor: pointer;
}

.products .item img {
  height: 150px;
  filter: drop-shadow(10px 10px 5px #d3d3d3);
}

.products .item img:hover {
  scale: 1.1;
  transition: 0.5s;
}
.products .item .name {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}
.products .item .price {
  margin: 10px;
}
.products .item button {
  background-color: #343432;
  color: #fff;
  padding: 7px 15px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  /* filter: drop-shadow(10px 10px 5px #d3d3d3); */
}

.card {
  position: fixed;
  top: 0px;
  width: 400px;
  background-color: #453e3b;
  height: 100vh;
  transition: 0.5s;
  left: 100%;
}

.card h2 {
  color: #fff;
  text-align: center;
  font-weight: 100;
  margin-top: 10px;
}

.card .checkout {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card .checkout div {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: beige;
  cursor: pointer;
}

.card .checkout div:nth-child(2) {
  background-color: #000;
  color: #fff;
}

.active .card {
  left: calc(100% - 400px);
}

.star {
  color: #ff9c1a;
}

.productList {
  padding: 15px;
  height: auto;
  /* border: 2px solid white; */
}

.productList li {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  row-gap: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  color: #fff;
}

.productList li img {
  width: 50px;
  background-color: #fff;
}

.productList li div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productList li button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 18px;
  color: #fff;
  background-color: black;
  cursor: pointer;
}

.productList li .count {
  padding: 10px;
}

@media only screen and (max-width: 720px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 550px) {
  header {
    padding: 25px;
  }
  .products {
    display: block;
    padding: 5px;
  }

  .products .item {
    margin-bottom: 20px;
  }
}
